<header>
  <div class="middle">
    <%= link_to("Hao Tran", restaurant_index_path, {class: "logo"}) %>
    <nav>
      <ul>
        <li><%= link_to("Menu", restaurant_menu_path) %></li>
        <li class="actived">Contact us</li>
      </ul>
    </nav>
  </div>
</header>

<ul class="small-carousel">
  <% @carousel_images.each do |image| %>
     <li><%= image_tag("#{image.split('/').last}", :alt => "#{image.split('/').last}") %></li>
   <% end %>
</ul>

<div class="middle">
  <h3 class="title"><i class="fa fa-comment-o"></i> Contact us</h3>
  <div class="contact-address">
    <h4>Hao Tran Restaurant</h4>
    <p><i class="fa fa-street-view"></i>240 Lê Thánh Tôn, Q.1</p>
    <p><i class="fa fa-phone"></i>(08) 5404 2244</p>
    <p><a href="mailto:support@haotran.com"><i class="fa fa-envelope-o"></i>support@haotran.com</a></p>
    <p><i class="fa fa-clock-o"></i>11:00 - 22:00</p>    
  </div>
  <div class="contact-map" id="map">
    
  </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWpfd_emoUKgJRUZMDZO9--dI3aqrqNAY&signed_in=true&callback=initMap"></script>